body {
  margin: 0;
  position: relative;
  font-family: Open Sans, sans-serif;
  background-color: #29313d; }
  body header {
    display: flex;
    justify-content: flex-end;
    background-color: #394456;
    width: 100%;
    white-space: nowrap; }
    body header nav {
      width: 40%; }
      body header nav ul {
        list-style: none;
        display: flex;
        justify-content: space-around; }
        body header nav ul li {
          letter-spacing: .03em; }
          body header nav ul li a {
            text-decoration: none;
            color: #fefcf6; }
        body header nav ul li > a {
          position: relative;
          text-decoration: none; }
        body header nav ul li > a:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: #25b11b;
          visibility: hidden;
          -webkit-transform: scaleX(0);
          transform: scaleX(0);
          -webkit-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s; }
        body header nav ul li > a:hover:before {
          visibility: visible;
          -webkit-transform: scaleX(1);
          transform: scaleX(1); }
        body header nav ul li:hover {
          cursor: pointer; }
  body main .about {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    margin-top: 125px; }
    body main .about article {
      display: flex;
      justify-content: space-around;
      align-items: center; }
      body main .about article img {
        height: 250px;
        width: 250px;
        border-radius: 125px; }
      body main .about article div {
        width: 40%;
        display: flex;
        justify-content: space-around; }
        body main .about article div a {
          color: #fefcf6; }
        body main .about article div a:visited {
          color: #fefcf6; }
        body main .about article div a:hover {
          opacity: 0.6; }
    body main .about p {
      width: 80%;
      color: #fefcf6;
      font-size: 1.1em;
      align-self: center; }
  body main .portfolio {
    color: #fefcf6; }
    body main .portfolio h1 {
      margin-left: 5%; }
    body main .portfolio .project {
      display: flex;
      margin: 0% 10% 5% 10%;
      align-items: center; }
    body main .portfolio .desktopIcons {
      width: 50%;
      display: flex;
      justify-content: space-around; }
      body main .portfolio .desktopIcons a {
        color: #fefcf6; }
      body main .portfolio .desktopIcons a:visited {
        color: #fefcf6; }
      body main .portfolio .desktopIcons a:hover {
        opacity: 0.6; }
    body main .portfolio img {
      width: 250px;
      height: 250px; }
    body main .portfolio aside {
      margin-left: 5%;
      display: flex;
      flex-direction: column;
      align-items: center; }
  body main .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    color: #fefcf6; }
    body main .contact h1 {
      font-size: 3.0em;
      margin-bottom: 0; }
    body main .contact p {
      font-size: 1.2em; }

/*# sourceMappingURL=styles.css.map */
