// Variables
$header-font: 'Montserrat', sans-serif;
$main-font: 'Open Sans', sans-serif;

body {
  display: flex;
  justify-content: center;
  
  font-family: 'open sans';

}

header {
  width: 1 / 3;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .nameHeader {
    color: inherit;
    text-decoration: none;
    font-family: $header-font;
  }

  nav {
    a, a:visited, a:active {
      color: inherit;
      text-decoration: none;
    }

    a:hover, u {
      text-decoration: none;
    }

    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-self: center;
    font-weight: 200;
  }

}
