body {
  margin: 0;
  position: relative;
  font-family: Century Gothic, sans-serif;
  background-color: hsl(217, 20%, 20%);
  header {
    display: flex;
    justify-content: flex-end;
    background-color: hsl(217, 20%, 28%);
    nav {
      width: 40%;
      ul {
        list-style: none;
        display: flex;
        justify-content: space-around;
        li {
          color: hsl(45, 80%, 98%);
          letter-spacing: .03em;
        }
      }
    }
  }
}
