body {
  margin: 0;
  position: relative;
  font-family: Open Sans, sans-serif;
  background-color: hsl(217, 20%, 20%);
  header {
    display: flex;
    justify-content: flex-end;
    background-color: hsl(217, 20%, 28%);
    nav {
      width: 40%;
      ul {
        list-style: none;
        display: flex;
        justify-content: space-around;
        li {
          letter-spacing: .03em;
          padding: 3px;
          border-radius: 2px;
          a {
            text-decoration: none;
            color: hsl(45, 80%, 98%);
          }
        }
        li:hover {
          background-color: hsl(116, 74%, 40%);
          cursor: pointer;
        }
      }
    }
  }
  main {
    .about {
      display: flex;
      flex-direction: column;
      width: 75%;
      margin-top: 125px;
      margin-left: 12.5%;
      margin-right: 12.5%;
      article {
        display: flex;
        justify-content: space-around;
        align-items: center;
        img {
          height: 250px;
          width: 250px;
          border-radius: 125px;
        }
        div {
          width: 40%;
          display: flex;
          justify-content: space-around;
          a {
            color: hsl(45, 80%, 98%);
          }
          a:visited {
            color: hsl(45, 80%, 98%);
          }
          a:hover {
            opacity: 0.6;
          }
        }
      }
      p {
        width: 80%;
        color: hsl(45, 80%, 98%);
        font-size: 1.1em;
        align-self: center;
      }
    }
  }
}
