<section class="contact">
  <h1>Hit Me Up</h1>
  <form class="contactForm" ng-submit="sendMessage()">
    <label for="name">Name:</label>
    <input type="text" ng-model="name" />
    <label for="email">Email:</label>
    <input type="text" ng-model="email" />
    <label for="message">Message:</label>
    <textarea name="message" rows="10" cols="50" ng-model="message"></textarea>
    <input class="submitButton" type="submit" value="Send" />
    <div id="loading-bar-container"></div>
  </form>
  <h2 ng-model="name" ng-show="sentMessage">Thanks, {{name}}!</h2>
</section>
