<section class="about">
  <article>
    <img src="./Images/profile.png" alt="Sam" />
    <div>
      <a href="https://www.linkedin.com/in/samuellinehan" target="_blank"><i class="fa fa-linkedin-square fa-4x"></i></a>
      <a href="https://drive.google.com/open?id=0B32AuHv0cKqoUWtDX3hkRGktekk" target="_blank"><i class="fa fa-arrow-circle-down fa-4x"></i></a>
      <a href="https://github.com/SamLinehan" target="_blank"><i class="fa fa-github fa-4x"></i></a>
    </div>
  </article>
  <p>Hey all! My name is Sam and I'm a fresh face to the development community. I recently graduated from Galvanize's Full Stack Web Development program in Denver, CO. My time at Galvanize was the best decision of my life, where I learned cutting edge tech and joined a fantastic community. Before Galvanize, I earned a degree in Marketing and worked for a few years in the non-profit industry. Thanks for visiting my page and getting to know a little bit more about me.</p>
</section>
