<section class="about">
  <article>
    <img src="../Images/profile.png" alt="Sam" />
    <div>
      <a href="https://www.linkedin.com/in/samuellinehan" target="_blank"><i class="fa fa-linkedin-square fa-4x"></i></a>
      <a href="https://github.com/SamLinehan" target="_blank"><i class="fa fa-github fa-4x"></i></a>
      <a href="./resume-linehan-samuel copy.pdf" target="_blank"><i class="fa fa-file-text-o fa-4x" aria-hidden="true"></i></a>
    </div>
  </article>
  <p>Hello, my name is Sam Linehan. I recently completed a 6 month intensive Full Stack Web Development program at <a class="galvanizeLink" href="http://www.galvanize.com" target="_blank">Galvanize</a> in Denver, Colorado.  I took special interest in JavaScript, AngularJS, and Python and seek to leverage these skills as a professional software developer. Prior, I earned a Bachelor of Science degree in Marketing (with honors) from Bentley University in Massachusetts. During my time at Bentley I worked in a variety of jobs in the non-profit industry.  I am a team player, a quick study and highly motivated.  Thanks for visiting my homepage and getting to know a little bit about me.</p>
</section>
