<section class="portfolio">
  <h1>Portfolio</h1>
  <div class="projectsContainer">
    <article class="project">
      <div class="imgDiv">
        <img id="TOLImage" src="../Images/TOL.png" alt="Twig of Life" />
      </div>
      <aside>
        <div class="projectInfo">
          <h3>Twig of Life</h3>
          <p>AngularJS, D3.js, Python, Flask, PostgreSQL</p>
          <p>A representation of a portion of the tree of life. This app uses D3.js and Angular to create an interactive radial dendrogram.</p>
        </div>
        <div class="desktopIcons">
          <a href="https://twig-of-life.firebaseapp.com/#/" target="_blank"><i class="fa fa-external-link-square fa-3x"></i></a>
          <a href="https://github.com/TelegraphMoarInterstices" target="_blank"><i class="fa fa-github fa-3x"></i></a>
          <a href="https://youtu.be/T4xbB5wgabg" target="_blank"><i class="fa fa-youtube fa-3x"></i></a>
        </div>
      </aside>
    </article>
    <article class="project">
      <div class="imgDiv">
        <img id="eventlyImage" src="../Images/evently2.png" alt="Evently" />
      </div>
      <aside>
        <div class="projectInfo">
          <h3>Evently</h3>
          <p>SASS, Socket.io, Node.js, Ionic, ngCordova, Python, Flask, MongoDB</p>
          <p>A mobile event app that allows users to join the event they are attending and interact with other eventers in live time.</p>
        </div>
        <div class="desktopIcons">
          <a href="https://linehan-capstone.firebaseapp.com/#/home" target="_blank"><i class="fa fa-external-link-square fa-3x"></i></a>
          <a href="https://github.com/SamLinehan/evently-front-end" target="_blank"><i class="fa fa-github fa-3x"></i></a>
          <a href="" target="_blank"><i class="fa fa-youtube fa-3x"></i></a>
        </div>
      </aside>
    </article>
    <article class="project">
      <div class="imgDiv">
        <img id="SKImage" src="../Images/SK.png" alt="Stock Kings" />
      </div>
      <aside>
        <div class="projectInfo">
          <h3>Stock Kings</h3>
          <p>SASS, Bootstrap, jQuery, Yahoo Finance API, Node.js, PostgreSQL, Gulp.js</p>
          <p>Stock Kings is a game that simulates the stock market in real time. Using Yahoo's Finance API, players are allowed to make trades throughout the day and monitor their performance against other players.</p>
        </div>
        <div class="desktopIcons">
          <a href="https://stock-kings.firebaseapp.com/" target="_blank"><i class="fa fa-external-link-square fa-3x"></i></a>
          <a href="https://github.com/SamLinehan/fe_stock_kings" target="_blank"><i class="fa fa-github fa-3x"></i></a>
          <a href="https://youtu.be/JUOCFfqog7Q" target="_blank"><i class="fa fa-youtube fa-3x"></i></a>
        </div>
      </aside>
    </article>
    <article class="project">
      <div class="imgDiv">
        <img id="DSPImage" src="../Images/DSP.png" alt="Dark Star Project" />
      </div>
      <aside>
        <div class="projectInfo">
          <h3>The Dark Star Project</h3>
          <p>SASS, jQuery, Star API</p>
          <p>The Dark Star Project is a web app that gives users information about the stars in our galaxy, such as distance from our own sun and how many exo-planets orbit that sun.</p>
        </div>
        <div class="desktopIcons">
          <a href="https://dsproject.firebaseapp.com/" target="_blank"><i class="fa fa-external-link-square fa-3x"></i></a>
          <a href="https://github.com/SamLinehan/front_end_project" target="_blank"><i class="fa fa-github fa-3x"></i></a>
          <a href="https://youtu.be/LUcvriXSU4U" target="_blank"><i class="fa fa-youtube fa-3x"></i></a>
        </div>
      </aside>
    </article>
  </div>
</section>
