<section class="portfolio">
  <h1>Portfolio</h1>
  <div class="projectsContainer">
    <article class="project">
      <img class="projectElement" id="eventlyImage" src="./Images/evently2.png" alt="Evently" />
      <aside>
        <div class="projectInfo">
          <h3>Evently</h3>
          <p><u>Technologies Used:</u> SASS, Socket.io, Node.js, Ionic, ngCordova, Python, Flask, MongoDB</p>
          <p><u>Description:</u> A mobile event app that allows users to join the event they are attending and interact with other eventers in live time.</p>
        </div>
        <div class="desktopIcons">
          <a href="https://github.com/SamLinehan/evently-front-end" target="_blank"><i class="fa fa-github fa-3x"></i></a>
          <a href="" target="_blank"><i class="fa fa-youtube fa-3x"></i></a>
          <a href="https://linehan-capstone.firebaseapp.com/#/home" target="_blank"><i class="fa fa-mobile fa-3x"></i></a>
        </div>
      </aside>
    </article>
  </div>
</section>
